<div class="navbar">
    <ul>
        <li><a href="{{ path('userpage', {'id': originalUser.id}) }}">Home</a></li>
        <li><a href="{{ path('userpage', {'id': originalUser.id}) }}">Profile</a></li>
        <li><a href="#">Agenda</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Courses</a></li>
        <li><a href="{{ path('app_logout') }}">Logout</a></li>
    </ul>
</div>