{% extends 'base.html.twig' %}

{% block title %}Shop{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Welcome to the Shop 🛒</h1>
    <p>Here you will be able to buy items or features in the future.</p>
</div>
{% endblock %}
