{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Event Remove! ❌</h1>
    <form action="/delete-items" method="POST">
  <h3>Select items to delete:</h3>
  <ul>
  {% for event in events %}
    <li>
      <label>
        <input type="checkbox" name="items[]" value="1">
        Item 1
      </label>
    </li>
  </ul>
  <button type="submit">Delete Selected</button>
</form>

    
</div>
{% endblock %}
