<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Intranet{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>

    {# Navbar globale (se presente) #}
    {% include 'components/navbar.html.twig' %}

    {# Flash messages #}
    {% for label, messages in app.flashes %}
        <div class="flash-{{ label }}">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endfor %}

    {# Contenuto principale #}
    <main>
        {% block body %}{% endblock %}
    </main>

    {% include 'components/script.html.twig' %}
</body>
</html>

